@charset "utf-8";
/* CSS Document */
/* Se incluye la tipografia Dancing Script al proyecto*/
@font-face{
	font-family: 'dancing-script';
	src: url(dancing-script.dancingscriptot.otf);
}
/*Se fijan margenes para todo el documento arriba y abajo de cada seccion*/
*{
	margin-top: 0;
	margin-bottom: 0;
}
/*Se fija un color de fondo para todo el cuerpo del documento y se aplica la tipografia Dancing Script a todo el documento*/
body{
	background:#02010A;
	font-family: dancing-script;
}
/*Configuracion general para todas las listas no ordenadas que aparecen en el documeto*/
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
/*Contenedor de la pagina*/
#contenido{
	width:900px;
	display: block;
	margin:auto;
}
/*Configuracion general de la cabecera*/
#cabecera{
	display:flex;
	flex-direction:row;
	width:100%;
	background:#5b7989;
	border-radius:10px 10px 0 0;
	color:#FFFFFF;
	vertical-align: middle;
	animation: animacion 1s;
}
/*Configuracion del titulo de la pagina*/
#cabecera header{
	float:left;
	width:50%;
	padding-left: 2%;
	text-shadow: 2px 2px 1px #02010A;
}
/*Configuracion de la barra de navegacion*/
#cabecera nav{
	float:right;
	margin:auto;
	width:50%;
	padding: 3.5% 2% 0 0;
}
/*Configuracion general de la lista no ordenada que conforma la barra de navegacion*/
#cabecera ul{
	float:right;
	font-size: 4vh;
}
/*Se establece para los elementos de la lista aparezcan en linea*/
#cabecera li{
	display: inline;
	padding-left: 1.5%;
}
/*Configura el color de los enlaces pertenecientes a la barra de navegacion*/
#cabecera a{
	color:#FFFFFF;
}
/*Efecto de no subrayado en pagina activa de barra de navegacion*/
.subrayado {
	text-decoration: none;	
}
/* Establece la configuracion general de la seccion de la imagen central en la pagina principal*/
#imgcentral{
	align-content: center;
	background:#82c3a6;
}
/*Establece los parametros para la imagen que esta en la seccion de la imagen central*/
#imgcentral img{
	display:block;
	margin:auto;
	width:80%;
	padding: 2% 0;
	filter: drop-shadow(2px 2px 0 #02010A);
}
/* Establece la configuracion general de la seccion de la imagen secundaria en la pagina principal*/
#imgsecundaria{
	display:flex;
	flex-direction: row;
	background:#d5c75f;
	padding: 2% 0;
}
/*Establece el tamaño y la forma en que se despliegan los elementos dentro de figure en la seccion de imagenes secundarias*/
#imgsecundaria figure{
	display:block;
	margin:auto;
	width:50%;
}
/*Establece los parametros para el despliege de las imagenes dentro de la seccion de imagen secundaria*/
#imgsecundaria img{
	display:block;
	margin:auto;
	width:90%;
	filter: drop-shadow(2px 2px 0 #02010A);
	transition-property: filter;
	transition-duration:1s;
	transition-timing-function: linear;
}
/*Configura los elementos figaption dentro de imagen secundaria*/
#imgsecundaria figcaption{
	color:black;
	text-align:center;
}
/*Efecto de rotacion al colocar el mouse encima del elemento*/
#rotacion:hover{
	transform: rotate(10deg);
}
/*Efecto de traslado al colocar el mouse encima del elemento*/
#traslado:hover{
	transform: translate(20px, -5px);
}
/*Cambio de color del margen en la imagen al colocar el mouse encima*/
#imgsecundaria img:hover{
	filter: drop-shadow(2px 2px 0 #82C3A6);
}
/*Configura los elementos dentro de la seccion de galeria en las paginas secundarias*/
.galeria{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	width:100%;
	background:#d5c75f;
}
/*Configura los elementos figure dentro de la seccion de galeria de las paginas secundarias*/
.galeria figure{
	display:block;
	margin:auto;
	padding:2% 0; 
	width:30%;
}
/*Configura los elementos imagen dentro de la seccion de galeria de las paginas secundarias*/
.galeria img{
	display:block;
	margin:auto;
	width:100%;
	box-shadow: 2px 2px 0 #02010A;
}
/*Efecto de escala de grises*/
.escalagrises{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}
/*Efecto desenfoque*/
.desenfoque{
	-webkit-filter:blur(10px);
	filter:blur(10px);
}
/*Efecto Sepia*/
.sefia{
	-webkit-filter:sepia(100%);
	filter:sepia(100%);
}
/*Configuracion general del pie de pagina*/
footer{
	display:flex;
	flex:row;
	background:#C6d5c5;
	border-radius:0 0 10px 10px;
	padding: 2% 0;
}
/*Configuracion de las secciones dentro del pie de pagina*/
.piepagina{
	width:25%;
	font-size:3vh;
	text-align: center;
}
/*Establece tamaño para el pie de pagina*/
p > img{
	width:10%;
}
/*Animacion slide in*/
@-webkit-keyframes animacion{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}
/*Configuracion de los elementos de la pagina para una resolucion de 900 pixeles de ancho*/
@media (max-width:900px){
	#contenido{
		width:100%;
		margin:auto;
	}
	#cabecera{
		display:flex;
		flex-direction: column;
	}
	#cabecera header{
		float:none;
		width:100%;
		text-align:center;
		padding-left:0;
	}
	#cabecera nav{
		float:none;
		width:100%;
		padding:0;
	}
	#cabecera ul{
		text-align:center;
		float:none;
	}
	#cabecera li{
		display:inline-block;
		padding-left:0;
	}
	#imgcentral img{
		width:100%;
	}
	#imgsecundaria{
		display:flex;
		flex-direction: column;
	}
	#imgsecundaria figure{
		width:100%;
	}
	#imgsecundaria img{
		width:80%;
	}
	.galeria{
	display:flex;
	flex-direction:column;
	width:100%;
	}
	.galeria figure{
		width:80%;
	}
	footer{
		display:flex;
		flex-direction: column;
	}
	.piepagina{
		width:100%;
		text-align:left;
	}
}


