@charset "utf-8";
/* CSS Document */
/* Se incluye la tipografia Dancing Script al proyecto*/
@font-face{
	font-family: 'dancing-script';
	src: url(dancing-script.dancingscriptot.otf);
}
/*Se fija un color de fondo para todo el cuerpo del documento y se aplica la tipografia Dancing Script a todo el documento*/
body{
	background:#02010A;
	font-family: dancing-script;
}
/*Configuracion general para todas las listas no ordenadas que aparecen en el documeto*/
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
/*Contenedor de la pagina*/
#contenido{
	width:900px;
	display: block;
	margin:auto;
}
/*Configuracion general de la cabecera*/
#cabecera{
	display:flex;
	flex-direction:row;
	width:100%;
	background:#5b7989;
	border-radius:10px 10px 0 0;
	color:#FFFFFF;
	vertical-align: middle;
	animation: animacion 1s;
}
/*Configuracion del titulo de la pagina*/
#cabecera header{
	float:left;
	width:50%;
	padding-left: 2%;
	text-shadow: 2px 2px 1px #02010A;
}
/*Configuracion de la barra de navegacion*/
#cabecera nav{
	float:right;
	margin:auto;
	width:50%;
	padding: 3.5% 2% 0 0;
}
/*Configuracion general de la lista no ordenada que conforma la barra de navegacion*/
#cabecera ul{
	float:right;
	font-size: 4vh;
}

#cabecera li{
	display: inline;
	padding-left: 1.5%;
}
/*Configura el color de los enlaces pertenecientes a la barra de navegacion*/
#cabecera a{
	color:#FFFFFF;
}
/*Efecto de no subrayado en pagina activa de barra de navegacion*/
#cabecera a:active{
	text-decoration: none;	
}

#imgcentral{
	align-content: center;
	background:#82c3a6;
}

#imgcentral img{
	display:block;
	margin:auto;
	width:80%;
	padding: 2% 0;
	filter: drop-shadow(2px 2px 0 #02010A);
}

#imgsecundaria{
	display:flex;
	flex-direction: row;
	background:#d5c75f;
	padding: 2% 0;
}

#imgsecundaria figure{
	display:block;
	margin:auto;
	width:50%;
}

#imgsecundaria img{
	display:block;
	margin:auto;
	width:90%;
	filter: drop-shadow(2px 2px 0 #02010A);
	transition-property: filter;
	transition-duration:1s;
	transition-timing-function: linear;
}

#imgsecundaria figcaption{
	color:black;
	text-align:center;
}

#rotacion:hover{
	transform: rotate(10deg);
}

#traslado:hover{
	transform: translate(20px, -5px);
}

#imgsecundaria img:hover{
	filter: drop-shadow(2px 2px 0 #82C3A6);
}

.galeria{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	width:100%;
	background:#d5c75f;
}

.galeria figure{
	display:block;
	margin:auto;
	padding:2% 0; 
	width:30%;
}

.galeria img{
	display:block;
	margin:auto;
	width:100%;
}

.escalagrises{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}

.desenfoque{
	-webkit-filter:blur(10px);
	filter:blur(10px);
}

.sefia{
	-webkit-filter:sepia(100%);
	filter:sepia(100%);
}

footer{
	display:flex;
	flex:row;
	background:#C6d5c5;
	border-radius:0 0 10px 10px;
	padding: 2% 0;
}

.piepagina{
	width:25%;
	font-size:3vh;
	text-align: center;
}

p > img{
	width:10%;
	filter:drop-shadow(0 0 0 black)
}

@-webkit-keyframes animacion{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}

@media (max-width:900px){
	#contenido{
		width:100%;
		margin:auto;
	}
	#cabecera{
		display:flex;
		flex-direction: column;
	}
	#cabecera header{
		float:none;
		width:100%;
		text-align:center;
		padding-left:0;
	}
	#cabecera nav{
		float:none;
		width:100%;
		padding:0;
	}
	#cabecera ul{
		text-align:center;
		float:none;
	}
	#cabecera li{
		display:inline-block;
		padding-left:0;
	}
	#imgcentral img{
		width:100%;
	}
	#imgsecundaria{
		display:flex;
		flex-direction: column;
	}
	#imgsecundaria figure{
		width:100%;
	}
	#imgsecundaria img{
		width:80%;
	}
	.galeria{
	display:flex;
	flex-direction:column;
	width:100%;
	}
	.galeria figure{
		width:80%;
	}
	footer{
		display:flex;
		flex-direction: column;
	}
	.piepagina{
		width:100%;
		text-align:left;
	}
}


